<a name="method_{{name}}"></a>
<div class="panel panel-default method-{{access}}">
  <div class="panel-heading">
    <strong><code>{{name}}</code></strong>{{#if paramsList}}(<code>{{paramsList}}</code>){{/if}}<br/>
    <small>Method defined in: <a href="{{projectGithubUrl}}/blob/master/{{file}}#L{{line}}"><code>{{file}}:{{line}}</code></a></small>
  </div>
  <div class="panel-body">
    <p>
      {{{methodDescription}}}
    </p>
    {{#if return}}
      {{#return}}
        <strong>Returns:</strong> {{#if type}}<code>{{#crossLink type}}{{/crossLink}}</code> {{/if}}{{{description}}}
      {{/return}}
    {{/if}}
    {{#if params}}
      <h4>Parameters</h4>
      <ul>
        {{#params}}
          <li>
            {{#if optional}}
              <strong>[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</strong> <code>{{#crossLink type}}{{/crossLink}}</code>
            {{else}}
              <strong>{{name}}</strong> <code>{{#crossLink type}}{{/crossLink}}</code>
            {{/if}}
            {{{description}}}
            {{#if props}}
              <ul>
                {{#props}}
                  <li><strong>{{name}}</strong> <code>{{#crossLink type}}{{/crossLink}}</code> {{{description}}}
                    {{#if props}}
                      <ul>
                        {{#props}}
                          <li><strong>{{name}}</strong> <code>{{#crossLink type}}{{/crossLink}}</code> {{{description}}}</li>
                        {{/props}}
                      </ul>
                    {{/if}}
                  </li>
                {{/props}}
              </ul>
            {{/if}}
          </li>
        {{/params}}
      </ul>
    {{/if}}
    {{#if example}}
      <h5>Example</h5>
      {{{example}}}
    {{/if}}
  </div>
</div>
