<div class="panel panel-default">
  <a id="{{anchor}}" class="symbol-anchor"></a>
  <div class="panel-heading">
    <a class="pull-right" href="{{githubLink}}"><span class="label label-default pull-right"><i class="fa fa-github"></i> source</span></a>
    {{#if static}}
      <span class="label label-info pull-right">static</span>
    {{/if}}
    {{#if protected}}
      <span class="label label-warning pull-right">protected</span>
    {{/if}}
    <h3 class="panel-title method">
      {{signature}}
      {{#if return.type}}
        <span class="type">&rarr; {{return.type}}</span>
      {{/if}}
    </h3>
  </div>
  <div class="panel-body">
    {{#if deprecated}}
      <span class="label label-warning label-deprecation">deprecated</span>{{markdown deprecationMessage}}
    {{/if}}
    {{markdown description}}
    {{#if params}}
      <h4 class="subsection">Arguments</h4>
      <dl class="params">
        {{#each params}}
          <dt>{{#if optional}}[{{name}}]{{else}}{{name}}{{/if}} <span class="type">{{{type}}}</span></dt>
          <dd>{{markdown description}}</dd>
          {{#if props}}
            <dl class="props">
              {{#each props}}
                <dt>{{../name}}.{{#if optional}}[{{name}}]{{else}}{{name}}{{/if}} <span class="type">{{{type}}}</span></dt>
                <dd>{{markdown description}}</dd>
              {{/each}}
            </dl>
          {{/if}}
        {{/each}}
      </dl>
    {{/if}}
    {{#if return}}
      <h4 class="subsection">Returns</h4>
      <p><span class="type return">&rarr; {{return.type}}</span></p>
      {{markdown return.description}}
    {{/if}}
  </div>
</div>
