<div class="panel panel-default">
  <a id="{{anchor}}" class="symbol-anchor"></a>
  <div class="panel-heading">
    <a class="pull-right" href="{{githubLink}}"><span class="label label-default pull-right"><i class="fa fa-github"></i> source</span></a>
    {{#if readonly}}
      <span class="label label-danger pull-right">read only</span>
    {{/if}}
    {{#if static}}
      <span class="label label-info pull-right">static</span>
    {{/if}}
    <h3 class="panel-title property">{{name}} <span class="type">{{{type}}}</span></h3>
  </div>
  <div class="panel-body">
    {{#if deprecated}}
      <span class="label label-warning label-deprecation">deprecated</span>{{markdown deprecationMessage}}
    {{/if}}
    {{markdown description}}
    {{#if default}}
      Defaults to <code>{{default}}</code>
      {{/if}}
  </div>
</div>
