<!DOCTYPE html>
<html>
  <head>
    <title><%= project['name'] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= config['asset_dir'] %>/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="<%= config['asset_dir'] %>/vendor/highlight.js/github.css">
    <link rel="stylesheet" href="<%= config['asset_dir'] %>/css/main.css">
    <script src="<%= config['asset_dir'] %>/vendor/jquery/jquery.min.js"></script>
    <script src="<%= config['asset_dir'] %>/vendor/highlight.js/highlight.pack.js"></script>
    <script src="<%= config['asset_dir'] %>/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="<%= config['asset_dir'] %>/js/main.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <span class="navbar-brand"><%= project['name'] %></span>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classes <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% classes.each do |class_data| %>
                <li><a href="#class_<%= class_data['name'] %>"><%= class_data['name'] %></a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div id="sidebar">
            <ul class="nav nav-stacked nav-sidebar">
              <% classes.each do |class_data| %>
                <li>
                  <a href="#class_<%= class_data['name'] %>"><%= class_data['name'] %></a>
                  <ul class="nav">
                    <% methods(class_data['name']).each do |method_data| %>
                      <li><a href="#method_<%= method_data['name'] %>"><%= method_data['name'] %></a></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div id="main-content" class="col-md-8">
          <% classes.each do |class_data| %>
            <div class="page-header">
              <h1 id="class_<%= class_data['name'] %>" class="class"><%= class_data['name'] %></h1>
              <p><small>Defined in: <a href="<%= [project['github_url'], '/blob/master/', class_data['file'], '#L', class_data['line']].join %>"><code><%= [class_data['file'], '#', class_data['line']].join %></code></a></small></p>
              <p class="lead"><%= class_data['description'] %></p>
              <% methods(class_data['name']).each do |method_data| %>
                <div class="panel panel-default panel-method">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <%= method_data['name'] %>
                      <small>
                        <% if method_data['static'] %>
                          <span class="label label-info pull-right">static</span>
                        <% end %>
                        <% if !!method_data['params'] %>
                          (<%= method_data['params'].map { |param| param['optional'] ? "[#{param['name']}]" : param['name'] }.join(', ') %>)
                        <% end %>
                      </small>
                    </h3>
                    <p><small>Defined in: <a href="<%= [project['github_url'], '/blob/master/', method_data['file'], '#L', method_data['line']].join %>"><code><%= [method_data['file'], '#', method_data['line']].join %></code></a></small></p>
                  </div>
                  <div class="panel-body">
                    <p><%= method_data['description'] %></p>
                  </div>
                  <ul class="list-group">
                    <% if !!method_data['params'] %>
                      <li class="list-group-item">
                        <h4>Arguments</h4>
                        <dl class="params">
                          <% method_data['params'].each do |param_data| %>
                            <dt><%= param_data['optional'] ? "[#{param_data['name']}]" : param_data['name'] %>: <code><%= param_data['type'] %></code></dt>
                            <dd><%= param_data['description'] %></dd>
                            <% if param_data['props'] %>
                              <dl class="props">
                                <% param_data['props'].each do |prop_data| %>
                                  <dt><%= param_data['name'] %>.<%= prop_data['optional'] ? "[#{prop_data['name']}]" : prop_data['name'] %>: <code><%= prop_data['type'] %></code></dt>
                                  <dd><%= prop_data['description'] %></dd>
                                <% end %>
                              </dl>
                            <% end %>
                          <% end %>
                        </dl>
                      </li>
                    <% end %>
                    <% if !!method_data['return'] %>
                      <li class="list-group-item">
                        <h4>Returns</h4>
                        <dl>
                          <dt><code><%= method_data['return']['type'] %></code></dt>
                          <dd><%= method_data['return']['description'] %></dd>
                        </dl>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
