<!DOCTYPE html>
<html>
  <head>
    <title><%= project['name'] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.4/styles/github.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="http://yandex.st/highlightjs/7.4/highlight.min.js"></script>
    <style type="text/css" media="screen">
    body {
      position: relative;
      padding-top: 70px;
    }
    #sidebar .nav {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    #sidebar .nav li {
      line-height: 110%;
    }
    #sidebar .nav li.active {
      background-color: #eee;
    }
    #sidebar .nav li ul.nav {
      display: none;
      border: none;
      border-radius: 0;
    }
    #sidebar .nav li.active ul.nav {
      display: block;
    }
    #sidebar .nav li ul.nav li a {
      padding-left: 30px;
    }
    #main-content {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
    }
    dl.params {
      margin-bottom: 10px;
    }
    dl.params dd {
      margin-bottom: 10px;
    }
    dl.props {
      padding-left: 30px;
      margin-top: -10px;
    }
    .panel-method h3 {
      font-size: 24px !important;
    }
    .panel-method p {
      text-align: justify;
    }
    h1.class {
      margin-bottom: 5px;
    }
    a.element-anchor {
      display: block;
      position: relative;
      top: -20px;
      height: 1px;
    }
    </style>
  </head>
  <body data-spy="scroll" data-target="#sidebar">
    <header class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand"><%= project['name'] %></span>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="<%= project['github_url'] %>"><i class="fa fa-github"></i> Source Code</a></li>
            <li><p class="navbar-text"><span class="label label-primary"><%= project['version'] %></span></p></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <nav id="sidebar">
            <ul class="nav affix">
              <% classes.each do |class_data| %>
                <li>
                  <a href="#<%= sanitize_id(class_data['name']) %>"><%= class_data['name'] %></a>
                  <ul class="nav">
                    <% methods(class_data['name']).each do |method_data| %>
                      <li><a href="#<%= sanitize_id(class_data['name']) %>-<%= sanitize_id(method_data['name']) %>"><%= method_data['name'] %></a></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
        <div id="main-content" class="col-md-8">
          <div class="jumbotron">
            <h1><%= project['name'] %></h1>
            <%= markdown(project['description']) %>
          </div>
          <% classes.each do |class_data| %>
            <a id="<%= sanitize_id(class_data['name']) %>" class="element-anchor">&nbsp;</a>
            <div class="page-header">
              <h1 class="class"><%= class_data['name'] %></h1>
              <p><small>Defined in: <a href="<%= [project['github_url'], '/blob/master/', class_data['file'], '#L', class_data['line']].join %>"><code><%= [class_data['file'], '#', class_data['line']].join %></code></a></small></p>
            </div>
            <%= markdown(class_data['description']) %>
            <% methods(class_data['name']).each do |method_data| %>
              <div class="panel panel-default panel-method">
                <a id="<%= sanitize_id(class_data['name']) %>-<%= sanitize_id(method_data['name']) %>" class="element-anchor"></a>
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <%= method_data['name'] %>
                    <span class="text-muted">
                      <% if method_data['static'] %>
                        <small><span class="label label-info pull-right">static</span></small>
                      <% end %>
                      <% if !!method_data['params'] %>
                        (<%= method_data['params'].map { |param| param['optional'] ? "[#{param['name']}]" : param['name'] }.join(', ') %>)
                      <% end %>
                    </span>
                  </h3>
                  <p><small>Defined in: <a href="<%= [project['github_url'], '/blob/master/', method_data['file'], '#L', method_data['line']].join %>"><code><%= [method_data['file'], '#', method_data['line']].join %></code></a></small></p>
                </div>
                <div class="panel-body">
                  <%= markdown(method_data['description']) %>
                </div>
                <ul class="list-group">
                  <% if !!method_data['params'] %>
                    <li class="list-group-item">
                      <h4>Arguments</h4>
                      <dl class="params">
                        <% method_data['params'].each do |param_data| %>
                          <dt><%= param_data['optional'] ? "[#{param_data['name']}]" : param_data['name'] %>: <code><%= param_data['type'] %></code></dt>
                          <dd><%= markdown(param_data['description']) %></dd>
                          <% if param_data['props'] %>
                            <dl class="props">
                              <% param_data['props'].each do |prop_data| %>
                                <dt><%= param_data['name'] %>.<%= prop_data['optional'] ? "[#{prop_data['name']}]" : prop_data['name'] %>: <code><%= prop_data['type'] %></code></dt>
                                <dd><%= markdown(prop_data['description']) %></dd>
                              <% end %>
                            </dl>
                          <% end %>
                        <% end %>
                      </dl>
                    </li>
                  <% end %>
                  <% if !!method_data['return'] %>
                    <li class="list-group-item">
                      <h4>Returns</h4>
                      <dl>
                        <dt><code><%= method_data['return']['type'] %></code></dt>
                        <dd><%= markdown(method_data['return']['description']) %></dd>
                      </dl>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
